if ROCKCHIP_RV1106

config TARGET_EVB_RV1106
	bool "EVB_RV1106"
	help
	  RV1106 EVB is a evaluation board for Rockchp RV1106.

config SYS_SOC
	default "rv1106"

source board/rockchip/evb_rv1106/Kconfig

config TPL_LDSCRIPT
	default "arch/arm/mach-rockchip/u-boot-tpl.lds"

config TPL_TEXT_BASE
	default 0xff701000

config TPL_MAX_SIZE
	default 32768

config SOC_SPECIFIC_OPTIONS # dummy
	def_bool y
	select HAS_CUSTOM_SYS_INIT_SP_ADDR

config ROCKCHIP_BOOT_MODE_REG
	default 0xff020200

config ROCKCHIP_STIMER_BASE
	default 0xff590020

config CUSTOM_SYS_INIT_SP_ADDR
	default 0x800000

config SPL_STACK
	default 0x001fe000

config SPL_STACK_R_ADDR
	default 0x800000

config SYS_MALLOC_F_LEN
	default 0x2000

#config TEXT_BASE
#	default 0x600000

endif
